interactions:
- request:
    body: query=thissurelydoesnotexist43058&type=search_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://gramhir.com/app/controllers/ajax.php
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <title>Error 500</title>\n\n            <meta name=\"description\" content=\"Internal
        Server Error\">\n        <meta property=\"og:title\" content=\"Error 500\"
        />\n\n            <meta property=\"og:description\" content=\"Internal Server
        Error\" />\n    \n    \n    \n    \n    <link rel=\"canonical\" href=\"https://gramhir.com/app/controllers/ajax.php\">\n\n
        \   <link rel=\"icon\" href=\"/favicon.ico\">\n\n\n    <link rel=\"stylesheet\"
        href=\"/app/assets/css/style.css?v=1662216013\">\n    <link rel=\"stylesheet\"
        media=\"print\" type=\"text/css\" href=\"/app/assets/css/print.css?v=126\">\n
        \   <link rel=\"stylesheet\" href=\"/app/assets/fonts/fontello/css/fontello.css?v=2\">\n
        \   <link rel=\"stylesheet\" href=\"/app/assets/fonts/fontello/css/fontello-codes.css?v=2\">\n
        \   <link rel=\"stylesheet\" href=\"/app/assets/fonts/flaticon/flaticon.css\">\n
        \   <link rel=\"stylesheet\" href=\"/app/assets/fonts/flat-comments/flaticon.css\">\n
        \   <!-- Global site tag (gtag.js) - Google Analytics -->\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-206621869-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n
        \ gtag('js', new Date());\n\n  gtag('config', 'UA-206621869-1');\n</script>\n
        \   </head>\n<body>\n<input type=\"hidden\" id=\"ajaxurl\" value=\"/ajax/\">\n<input
        type=\"hidden\" id=\"folder\" value=\"\">\n\n<header class=\"main-header header-search
        main-page\">\n    <div class=\"content clearfix\">\n        <div class=\"left-header\">\n
        \           <div class=\"logo\">\n                <a href=\"https://gramhir.com\">Gramhir</a>\n
        \           </div>\n        </div>\n        <div class=\"center-header\">\n
        \                   </div>\n        <div class=\"menu_block\">\n            <a
        href=\"https://gramhir.com/popular\" class=\"new-main-button\">Popular</a>\n
        \           <div class=\"menu_open_button\">\n                <i [...]
